Repository AugustinMauroy/scholarsuite: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run db:format

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,md}": ["npm run format"],
  "./prisma/schema.prisma": ["npm run db:format"]
}

fix:filename
  types/attendance.ts
Due: npm run format

pre
  app/api/attendance/route.ts
  app/group-attendance/[id]/page.tsx
Due: npm run format

chore: Vercel Support
  .env.example
  README.md
  docs/Vercel.md
  prisma/schema.prisma
Due: npm run format, npm run db:format

chore(docs): update
  docs/Design.md
  docs/Prisma.md
  docs/Technical.md
Due: npm run format

feat(user): add preferredLanguage
  app/api/user/[id]/route.ts
  app/profile/page.module.css
  app/profile/page.tsx
  i18n/config.json
  i18n/locales/en.json
  lib/i18n.ts
  lib/i18nClients.ts
  prisma/schema.prisma
  types/next-auth.d.ts
Due: npm run format, npm run db:format

fix: overflow
  components/Layout/Base/index.module.css
Due: npm run format

feat(student-page): improve
  app/group-attendance/[id]/page.tsx
  app/student/[id]/page.tsx
  components/Common/BackTo/index.tsx
  components/Student/StudentAvatar/index.module.css
  components/Student/StudentAvatar/index.tsx
  components/Student/StudentCard/index.stories.tsx
  components/Student/StudentCard/index.tsx
  middleware.ts
  prisma/schema.prisma
Due: npm run format, npm run db:format

prisma: update schema
  prisma/schema.prisma
Due: npm run db:format

pre
  app/api/absence-period/comment/route.ts
  components/AbsencePeriod/Messages/index.module.css
  components/AbsencePeriod/Messages/index.tsx
  prisma/schema.prisma
Due: npm run format, npm run db:format

revamp ui
  app/about/page.module.css
  app/about/page.tsx
  app/administration/page.module.css
  app/attendance/absence/[id]/page.module.css
  app/not-found.module.css
  app/page.tsx
  app/profile/page.module.css
  app/signin/page.tsx
  assets/logo-dark.svg
  assets/logo-light.svg
  components/Common/Background/index.module.css
  components/Common/Badge/index.module.css
  components/Common/Button/index.module.css
  components/Common/Calendar/index.module.css
  components/Common/DropDownMenu/index.module.css
  components/Common/DropDownMenu/index.tsx
  components/Common/Environement/index.module.css
  components/Common/Input/index.module.css
  components/Common/List/index.module.css
  components/Common/Logo/index.tsx
  components/Common/LogoText/index.tsx
  components/Common/Pagination/index.module.css
  components/Common/Select/index.module.css
  components/Common/Tabs/index.module.css
  components/Common/UserAvatar/index.module.css
  components/Common/UserAvatar/index.tsx
  components/Layout/Base/index.module.css
  components/Layout/NavBar/Container/index.module.css
  components/Layout/NavBar/Container/index.stories.tsx
  components/Layout/NavBar/Container/index.tsx
  components/Layout/NavBar/LinkList/index.module.css
  components/Layout/NavBar/LinkList/index.tsx
  components/Layout/NavBar/index.tsx
  components/Student/StudentCard/index.module.css
  components/Student/StudentCard/index.tsx
  i18n/locales/en.json
  styles/globals.css
Due: npm run format

revamp small thing
  app/attendance/page.tsx
  components/Common/Button/index.module.css
  components/Common/Calendar/index.module.css
  components/Common/DropDownMenu/index.module.css
  components/Layout/Base/index.module.css
  components/Student/StudentCard/index.module.css
  components/Student/StudentCard/index.tsx
  components/TimeSlot/Selector/index.module.css
  prisma/seed-dev.ts
Due: npm run format

feat(AbesencePeriods): add deleted comment
  components/AbsencePeriod/Messages/index.module.css
  components/AbsencePeriod/Messages/index.tsx
Due: npm run format

pre
  components/AbsencePeriod/Messages/index.module.css
  components/AbsencePeriod/Messages/index.tsx
Due: npm run format

update
  components/AbsencePeriod/Messages/index.module.css
  components/AbsencePeriod/Messages/index.tsx
Due: npm run format

feat: message on absence period (#93)
  app/api/absence-period/comment/route.ts
  components/AbsencePeriod/Messages/index.module.css
  components/AbsencePeriod/Messages/index.tsx
  prisma/schema.prisma
Due: npm run format, npm run db:format

revamp singin
  app/signin/page.module.css
  app/signin/page.tsx
  components/Common/LogoText/index.tsx
  i18n/locales/en.json
Due: npm run format

remove useless icon
  app/administration/page.tsx
Due: npm run format

revamp profile page
  app/profile/page.module.css
  app/profile/page.tsx
  components/Common/EditModal/index.tsx
Due: npm run format

upgrade ui
  app/administration/page.module.css
  app/administration/page.tsx
  app/api/attendance/route.ts
  app/api/group/[id]/route.ts
  app/group-attendance/[id]/page.module.css
  app/group-attendance/[id]/page.tsx
  app/group-attendance/page.tsx
  components/Common/Card/index.module.css
  components/Common/Card/index.stories.tsx
  components/Common/Card/index.tsx
  components/Common/Input/index.module.css
  components/Common/Input/index.tsx
  components/Common/UserAvatar/index.module.css
  components/Group/Page/index.module.css
  components/Group/Page/index.tsx
  components/Layout/Base/index.module.css
  components/Layout/NavBar/Container/index.module.css
  components/Layout/NavBar/Container/index.tsx
  components/Layout/NavBar/index.tsx
  components/Student/StudentCard/index.module.css
  components/Student/StudentCard/index.tsx
  i18n/locales/en.json
  package-lock.json
  package.json
Due: npm run format

feat(absencePeriod): add count
  app/api/absence-period/route.ts
  components/AbsencePeriod/List/index.tsx
  lib/cacheUtils.ts
  lib/timeslotUtils.ts
  package.json
  prisma/schema.prisma
  scripts/preStart.ts
Due: npm run format, npm run db:format

remove useless thing
  prisma/schema.prisma
Due: npm run db:format

improve logic
  app/api/attendance/route.ts
Due: npm run format

upgrade
  app/api/attendance/route.ts
  prisma/schema.prisma
Due: npm run format, npm run db:format

finish the attendance api
  app/api/attendance/route.ts
Due: npm run format

pre
  app/api/attendance/route.ts
  lib/cacheUtils.ts
  lib/timeslotUtils.ts
  package.json
  prisma/schema.prisma
  scripts/preStart.ts
Due: npm run format, npm run db:format

update
  app/api/attendance/route.ts
  prisma/seed-dev.ts
  utils/__tests__/crypto.test.ts
  utils/__tests__/node.test.ts
  utils/constante.ts
  utils/crypto.ts
Due: npm run format

pre
  app/api/absence-period/route.ts
  app/api/attendance/route.ts
  app/api/disciplinary-reports/route.ts
  app/api/group/user/route.ts
  app/api/student/search/route.ts
  app/attendance/page.tsx
  app/disciplinary-report/page.module.css
  app/disciplinary-report/page.tsx
  app/disciplinary-reports/[id]/page.tsx
  app/disciplinary-reports/create/page.module.css
  app/disciplinary-reports/create/page.tsx
  app/disciplinary-reports/page.module.css
  app/disciplinary-reports/page.tsx
  app/layout.module.css
  app/student/[id]/disciplinary-reports/page.tsx
  components/AbsencePeriod/List/index.module.css
  components/AbsencePeriod/List/index.tsx
  components/AbsencePeriod/Overview/index.tsx
  components/Common/Badge/index.module.css
  components/Common/Card/index.stories.tsx
  components/Common/DropZone/index.module.css
  components/Common/DropZone/index.tsx
  components/Common/Select/index.module.css
  components/Group/Page/index.module.css
  components/Group/Page/index.tsx
  components/Layout/Base/index.module.css
  components/Layout/NavBar/Container/index.module.css
  components/Layout/NavBar/Container/index.stories.tsx
  components/Layout/NavBar/index.tsx
  components/Student/StudentCard/index.tsx
  docs/Disciplinary-spec.md
  node-hooks/typescript.js
  package-lock.json
  package.json
  prisma/schema.prisma
  styles/globals.css
  turbo.json
  vitest.config.ts
Due: npm run format, npm run db:format

clean:ui
  app/disciplinary-reports/page.module.css
  app/disciplinary-reports/page.tsx
  components/AbsencePeriod/List/index.tsx
  components/Common/Select/index.module.css
  components/Layout/Base/index.module.css
  components/Layout/NavBar/Container/index.module.css
Due: npm run format

wip
  app/layout.module.css
  components/Common/UserAvatar/index.tsx
  components/Layout/NavBar/Container/index.module.css
  components/Layout/NavBar/Container/index.stories.tsx
  components/Layout/NavBar/Container/index.tsx
  components/Layout/NavBar/index.tsx
Due: npm run format

clean
  components/Layout/NavBar/Container/index.module.css
  components/Layout/NavBar/Container/index.tsx
  hooks/useMediaQuery.ts
Due: npm run format

fix
  components/Common/UserAvatar/index.tsx
Due: npm run format

fix
  components/Layout/NavBar/Container/index.tsx
Due: npm run format

Nav burger (#100)
  app/layout.module.css
  components/Common/UserAvatar/index.tsx
  components/Layout/NavBar/Container/index.module.css
  components/Layout/NavBar/Container/index.stories.tsx
  components/Layout/NavBar/Container/index.tsx
  components/Layout/NavBar/index.tsx
  hooks/useMediaQuery.ts
Due: npm run format

WIP
  app/about/page.module.css
  app/administration/layout.tsx
  app/api/absence-period/[id]/route.ts
  app/api/absence-period/route.ts
  app/api/attendance/route.ts
  app/api/group/[id]/route.ts
  app/disciplinary-reports/[id]/page.tsx
  app/group-attendance/[id]/page.tsx
  app/student/[id]/disciplinary-reports/page.tsx
  app/student/[id]/page.module.css
  app/student/[id]/page.tsx
  components/AbsencePeriod/List/index.tsx
  components/AbsencePeriod/Overview/index.tsx
  components/Common/BackTo/index.tsx
  components/Common/Badge/index.module.css
  components/Student/StudentAvatar/index.tsx
  components/Student/StudentCard/index.module.css
  components/Student/StudentCard/index.stories.tsx
  components/Student/StudentCard/index.tsx
  lib/i18n.ts
  lib/i18nClients.ts
  lib/queries/group.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  styles/administration.css
  styles/globals.css
Due: npm run format, npm run db:format

fix
  .github/dependabot.yml
  package-lock.json
  package.json
Due: npm run format

WIP+refracto
  app/api/attendance/route.ts
  app/api/group/[id]/route.ts
  lib/queries/absencePeriod.ts
  lib/queries/attendance.ts
  lib/queries/group.ts
  prisma/schema.prisma
Due: npm run format, npm run db:format

bump(node-v): `22`
  .nvmrc
  Dockerfile
  package-lock.json
  package.json
Due: npm run format

=WIP
  lib/queries/foo.ts
  lib/queries/justificationPeriod.ts
Due: npm run format
